@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
    min-height: 100vh; /* Viewport'un tamamını kapsayacak şekilde ayarlayın */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* İçerik ve footer arasında boşluk bırakın */
  }

/* font-family: 'Inter Tight', sans-serif; */

body {
  height: 100vh;
  background-color: #f9f9f9 !important;
  font-family: "Inter", sans-serif;
}

.home {
    position: relative; 
    min-height: 80%; 
  
  
  }
  .header{
    font-family: 'Inter Tight', sans-serif;
    font-weight: bolder;
  }
  
  /* Footer için stil ayarlamaları */
.footer {
    width: 100%;
    background-image: url("../public/img/arkaplan.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    
  }

  /* Kitap listesi ve diğer içerik için stil ayarlamaları */
.content {
    /* İçerik alanınız burada */
    flex: 1; /* Footer'dan önceki içeriği esnek yapın */
  }

a {
  text-decoration: none !important;

  font-weight: bold;
  color: black !important;
}
